@import 'styles/shared';

.balance {
  width: 280px;
  height: 80px;
  background: $background-color;
  border-radius: 30px;
  padding: 8px 0 13px 30px;
  margin-bottom: 30px;

  &__title {
    font-weight: 400;
    @include font(12px, 18px);
    text-transform: uppercase;
    color: $placeholder-color;
  }

  &__value {
    font-family: $secondary-font;
    font-weight: 700;
    @include font(30px, 45px);
    color: $text-color;
  }

  &__currency {
    font-weight: 400;
  }
}

@media screen and (min-width: 768px) {
  .balance {
    width: 334px;
    padding-left: 40px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .balance {
    width: 350px;
    margin-bottom: 30px;
  }
}
