$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Poppins', sans-serif;
//
$accent-color: #4a56e2;
$secondary-accent-color: #6e78e8;
//
$modal-color: #ffffff;
$modal-background-color: rgba(0, 0, 0, 0.25);
//
$button-color: #24cca7;
//
$income-color: #24cca7;
$spend-color: #ff6596;
//
$placeholder-color: #bdbdbd;
$placeholder-border-color: #e0e0e0;
//
$title-color: #000000;
$text-color: #000000;
$secondary-text-color: #ffffff;
//
$background-color: #ffffff;

// Как использовать: в ваш componentName.scss добавить следующее:
//
// @import 'styles/shared';
//
// .yourStyle {
//   display: flex;
//   @include font(16px, 30px);
//   @extend %list;
//   background-color: $color;
//   border: 1px solid $color;  <------- this variables
// }
