$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Poppins', sans-serif;
//
$accent-color: #4a56e2;
$secondary-accent-color: #6e78e8;
//
$modal-color: #ffffff;
//
$button-color: #24cca7;
//
$income-color: #24cca7;
$spend-color: #ff6596;
//
$placeholder-color: #bdbdbd;
$placeholder-border-color: #e0e0e0;
//
$title-color: #000000;
$text-color: #000000;
$secondary-text-color: #ffffff;
//
$body-background-color: #e7eaf2;
$background-color: #ffffff;

// Как использовать: в ваш componentName.scss добавить следующее:
//
// @import 'styles/shared';
//
// .yourStyle {
//   display: flex;
//   @include font(16px, 30px); // mixin
//   @extend %list; // placeholders
//   background-color: $color; // variables
// }
