@import 'styles/shared';
@import 'toastr';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  font-family: $primary-font;
  font-style: normal;
  background-color: $body-background-color;

  @media screen and (min-width: 768px) {
    background: url('../images/UI/tablet/ellipse-orange-tablet.svg') no-repeat
        100% 0,
      url('../images/UI/tablet/ellipse-purple-tablet.svg') no-repeat 0 100%;
    background-color: $body-background-color;
  }
  @media screen and (min-width: 1280px) {
    background: url('../images/UI/desktop/ellipse-orange-desktop.svg') no-repeat
        100% 0,
      url('../images/UI/desktop/ellipse-purple-desktop.svg') no-repeat 0 100%;
    background-color: $body-background-color;
  }
}

@media screen and (max-width: 767px) {
  body .login,
  body .register {
    background-color: $background-color;
  }
}

#root {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(50px);
}
address {
  font-style: normal;
}
img {
  display: block;
  // max-width: 100%;
  // height: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
