@import 'styles/shared';

.home-table__card {
  position: relative;
  display: block;
  width: 280px;
  border-radius: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;

  &:not(:last-child) {
    margin-bottom: 40px;
  }
  &_income {
    border-left: 5px solid $income-color;
  }
  &_spend {
    border-left: 5px solid $spend-color;
  }
}

.home-table__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  height: 47px;
  &:not(:last-child) {
    border-bottom: 1px solid #dcdcdf;
  }
}

.home-table__item {
  @include font(18px, 27px);
  font-weight: 700;
  &_value {
    @include font(16px, 24px);
    text-align: right;
  }
  &_spend {
    font-weight: 700;
    color: $spend-color;
  }
  &_income {
    font-weight: 700;
    color: $income-color;
  }
}
