@import 'styles/shared';

.modal {
  position: absolute;
  top: 60px;
  width: 100%;
  padding: 20px 10px 43px 10px;
  background-color: $modal-color;
}

@media screen and (min-width: 768px) {
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
  }

  .modal {
    max-height: 617px;
    max-width: 540px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 65px 60px 65px;
    border-radius: 20px;
  }
}
