@import 'styles/shared.scss';

.currency {
  width: 280px;
  margin-bottom: 250px;

  &__blur {
    &-true {
      position: relative;
      filter: blur(3px);
    }
    &-false {
      position: relative;
      filter: none;
    }
  }

  &__title-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $secondary-accent-color;
    border-radius: 30px 30px 0px 0px;
    padding: 11px 20px 12px 20px;
  }

  &__title {
    font-weight: 700;
    @include font(16px, 27px);
    color: $secondary-text-color;
  }

  &__price-list {
    background-color: $accent-color;
    background-image: url('./currencyBg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    border-radius: 0px 0px 30px 30px;
    padding: 10px 20px 22px 20px;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    @include font(16px, 24px);
    color: $secondary-text-color;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

@media screen and (min-width: 768px) {
  .currency {
    width: 334px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .currency {
    width: 348px;

    &__title-list {
      padding: 17px 30px 16px 30px;
    }

    &__price-list {
      padding: 20px 30px 149px 30px;
    }

    &__price:not(:last-child) {
      margin-bottom: 23px;
    }
  }
}
