@import 'styles/shared';

.modal {
  max-height: 617px;
  max-width: 540px;
  padding: 40px 65px 60px 65px;
}

.transaction {
  &__title {
    @include font(30px, 45px);
  }
}

.close-modal {
  &__button {
    position: absolute;
    right: 20px;
    top: 20px;
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: none;
    background-color: inherit;
  }

  &__icon {
    width: 16px;
    height: 16px;
    fill: $text-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
