@import 'styles/shared';

.userMenu {
  display: flex;
  align-items: center;
  justify-content: center;

  &__name,
  &__button-text {
    display: flex;
    align-items: center;
    justify-content: center;
    @include font(18px, 27px);
    font-weight: 400;
    color: $placeholder-color;
  }

  &__name {
    margin-right: 10px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background-color;
    border: none;

    &-text {
      display: none;
      margin-left: 10px;
    }
  }
}

.exit-icon {
  width: 18px;
  height: 18px;
  fill: $placeholder-color;
}

@media screen and (min-width: 768px) {
  .userMenu {
    &__name {
      margin-right: 15px;

      &::after {
        content: '';
        width: 1px;
        height: 30px;
        background-color: $placeholder-color;
        margin-left: 15px;
      }
    }

    &__button {
      &-text {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .userMenu {
    &__button {
      cursor: pointer;
    }
  }
}
