
.userMenu__button {
 

    font-size: 18px;
    line-height: 27px;

  
  background-color: none;
  color: white;
  
 

  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
