@import 'styles/shared';

@media screen and (min-width: 320px) {
  .statistics__title {
    @include font(30px, 45px);
    font-family: $secondary-font;
    font-weight: normal;
    // margin-top: 43px;
  }
  .statistics__data-container {
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  // .statistics__title {
  //   margin-top: 40px;
  // }
  .statistics__data-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .statistics {
    display: flex;
    justify-content: space-between;
    width: 815px;

    &__container {
      width: 815px;
      padding-left: 30px;
      border-left: 1px solid #e7e5f2;
      // box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.05),
      //   1px 0px 0px rgba(255, 255, 255, 0.6);
    }
    // .statistics__title {
    //   margin-top: 30px;
    // }
  }
}
