@import 'styles/shared';

.diagram {
  &__title {
    @include font(30px, 45px);
    font-family: $secondary-font;
    font-weight: normal;
  }
  &__data {
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  .diagram {
    &__data {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .diagram {
    display: flex;
    flex-direction: column;
  }
}
